[client]

port = 3306
socket = /tmp/mysql.sock

[mysql]

prompt = "\u@db \R:\m:\s [\d]> "
no-auto-rehash
basedir = /usr/local/server/mysql
datadir = /data/mysql
socket = /tmp/mysql.sock
character-set-server = utf8mb4
skip_name_resolve = 1
